#map {
    height: 400px;
    width: 400px;  
}
.placesList {
    height: 150px;
    background-color: lightpink;
}
.mapSection{
    display: flex;
    flex-direction: row;
}
.placesList ul {
    display: flex;
    flex-direction: row;
}
.placesList li {
    padding: 15px;
    background-color: lightgreen;
    border-left: 1px solid black ;
}
.editPlaces {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: gainsboro;
    padding: 20px;
    margin: auto
}




