.mails-homepage {
    max-width: 25vw;
    margin-top: 30px;
}

.boldSubject {
    font-weight: 900;
}

.previewMail {
    float: right;
}

.fa-envelope {
    margin-left: 0;
    text-align: left;
}

.mails-homepage {
    display: flex;
}



