.baloon {
  height: 120px;
  width: 150px;
  border-radius: 50%;
  padding-top:80px;
  position: absolute;  
  bottom: 0px;
}


.baloon1{
    left: 200px;
     background-color: violet;
}


.baloon2{
    left: 500px;
     background-color: firebrick;
}

.pop {
  display: none;
}
