.header {
    padding: 100px;
    background-color:powderblue;
    text-align: center;
     font-family: Arial Arial, Helvetica, sans-serif;
    
}

.per {
color: brown;
text-align: center;
font-size: 40cc;
}

.button {
   border-radius: 8px;
   background-color: #e7e7e7; color: black;
   font-size: 24px;
    padding: 15px 32px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 250px;
}
.result {
    padding: 50px;
    background-color:burlywood;
    margin-left: 180px;


}