@import '_card.css';
@import '_editForm.css';


.hero {
    margin: 20px;
    border-radius: 20px; 
}


.edit {
    margin-top:25px;
    float: right;
    margin-left: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 15px;
    justify-content: flex-start;
    margin: auto;
    width: auto;
}

.container {
    width: auto;
}

.nav {
    display: flex;
    justify-content: center;
}


.note-section-wrapper {
    background: url("../img/board.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.note-section {
    width: 90%;
    margin: 0 auto;
}


