@import '_card.css';


.hero {
    margin: 20px;
    border-radius: 20px; 
}


.edit {
    margin-top:25px;
    float: right;
    margin-left: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 15px;
    justify-content: flex-start;
    margin: auto;
    width: auto;
}

.container {
    width: auto;
}





.nav {
    display: flex;
    justify-content: center;
}



