#map {
    height:50%;
    width: 100%;
    /* display: none;  */
}

.mapSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top:1%;
    
}

.editPlaces {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    margin: auto
}
.searchBar {
    max-width: 350px;
    margin: auto;
}


.mainPage {
    width: 90%;
    height: 100vh;
    margin-right: 3%;
  
}
.placesList {
    margin-left: 2%;
    margin-right: 2%;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between !important;
    background-color: hsl(0, 0%, 21%);
    padding: 20px;
}

.input {
    background-color: hsl(0, 0%, 21%);
    color: white;
    border: none;
    border-bottom: 2px solid gray; 
}


.input::placeholder {
    color: gray;
  }


  @media screen and (max-width: 768px) {
    .mapSection{
        flex-direction: column;
    }
    .mainPage {
        margin: auto;
    }
    .ditailsContant {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .placeName {
        display: flex;
        /* flex-direction: column; */
        align-self: flex-start;
    }
  }
  img:hover {
    cursor: pointer;
  }

.edit-icons {
    display: flex;
    justify-content: flex-end;
}

.edit-icons img {
    margin: 15px;
}
